<div class="jumbotron center">
	<h1>Happy Patients. Happy Practice.</h1>
		<% if user_signed_in? %>
			<h3>Welcome to the application!</h3>
		<% else %>	
			<p>Click here to
		    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
		<% end %>	
			</P>
</div>
<div class= "container center">
	<h2>Free up staff and keep patients in the loop with automated text messages.</h2>
  <div style="col-xs-12; height:70px; background-color:#ffffff"></div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-4">
  	<img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/xxcjucfi0ylsp9ujfec7.png" class="img-responsive center-block" alt=s"Responsive image">
  	<h2 class="text-center">Office Delays</h2>
  	<p class="text-center">Give patients the option to wait outside the waiting room with automated texts alerting them of delays.</p>
  </div>
  <div class="col-xs-4 col-md-4">
  	<img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/qdaziqjwz77fvaaci10n.png" class="img-responsive center-block" alt="Responsive image">
  	<h2 class="text-center">Appointment Confirmations</h2>
  	<p class="text-center">Reduce staff calling time with automated text confirmations.</p>
  </div>
    <div class="col-xs-4 col-md-4">
  	<img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/r3n5vfohnmxupl1oe5rb.png" class="img-responsive center-block" alt="Responsive image">
  	<h2 class="text-center">Fill Open Slots</h2>
  	<p class="text-center">Last minute cancellation? Find patients to keep your schedule filled.</p>
  </div>
</div>
<hr></hr>
<div class= "container center">

  <h1>Communicate the way your patients want to.</h1>
  <h3>No app necessary.</h3>

</div>
<div style="col-xs-12; height:70px; background-color:#ffffff"></div>
