<div style="background-color:#2FC7F7; bottom-padding: 20px" class="container-fluid">
  <div class="row clearfix">
    <div class="col-md-1 column">
    </div>  
    <div class="col-md-10 column">
      <div style="margin: 0px" class="jumbotron center">
        <h1 id="white">
          Happy Patients. Happy Practice.
        </h1>
        <% if user_signed_in? %>
          <h2>Welcome to the application!</h2>
        <% else %>
          <p style="padding-top: 25px" id="white">Click here to
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-1 column">
    </div> 
  </div>


  <div style="padding: 40px; background-color: white" class="row clearfix">
    <div class="col-md-4 column">
      <img src="http://res.cloudinary.com/www-swellmd-com/image/upload/v1404333458/waiting-drkblue_fyuoqi.png" class="img-responsive center-block" alt=s"Responsive image">
      <h2 class="center">
        Office Delays
      </h2>
      <h4 class="center">
        Give patients the option to wait outside the waiting room with automated texts alerting them of delays.
      </h4>
    </div>
    <div class="col-md-4 column">
      <img src="http://res.cloudinary.com/www-swellmd-com/image/upload/v1404333462/calendar-drkblue_zgwk7q.png" class="img-responsive center-block" alt="Responsive image">
      <h2 class="center">
        Appointment Confirmations
      </h2>
      <h4 class="center">
        Reduce staff calling time with automated text confirmations.
      </h4>
    </div>
    <div class="col-md-4 column">
      <img src="http://res.cloudinary.com/www-swellmd-com/image/upload/v1404333567/people-drkblue_v8lqyj.png" class="img-responsive center-block" alt="Responsive image">
      <h2 class="center">
        Fill Open Slots
      </h2>
      <h4 class="center">
        Last minute cancellation? Find patients to keep your schedule filled.
      </h4>
    </div>
  </div>
</div>
<hr></hr>
  <div class="row clearfix center">
      <h1>Communicate the way your patients want to.</h1>
      <h3 style="padding-bottom: 50px">No app necessary.</h3>
  </div>
  <hr style="border-top: 0px solid #ffffff;"></hr>

  <div class="row clearfix center">
    </div>
        <div class="col-md-1 column">
    </div>
    <div class="col-md-5 column">
      <img alt="140x140" src="http://res.cloudinary.com/www-swellmd-com/image/upload/c_fill,g_north,h_1054,w_868/c_scale,h_541/v1404325477/iphone5s_1up_pqzhpv.png" />
    </div>
    <div class="col-md-5 column">
      <h1 style="padding-top:100px"class="center">
        A little communication goes a long way.
      </h1>
      <h4 class="center">
        Most patients simply want to be <span style="text-decoration: underline">kept in the loop</span> when their doctor is running behind schedule. Keep them updated and give the option of waiting outside the waiting room for a better patient experience.
      </h4>
    </div>
        <div class="col-md-1 column">
    </div>  
</div>  
<div class= "container-fluid" style="background-color: #2fc7f7">
    <div style="padding: 25px" class="row clearfix center">
      <h1>Reduce no-shows and free up staff.</h1>
      <h3 style="padding-bottom: 50px">With automated appointment confirmations.</h3>
    </div>

  <div class="row clearfix center">
    </div>
        <div class="col-md-1 column">
    </div>
    <div class="col-md-5 column">
      <h1 style="padding-top:100px"class="center">
        A little communication goes a long way.
      </h1>
      <h4 class="center">
        Most patients simply want to be <span style="text-decoration: underline">kept in the loop</span> when their doctor is running behind schedule. Keep them updated and give the option of waiting outside the waiting room for a better patient experience.
      </h4>
    </div>
        <div class="col-md-5 column">
      <img alt="140x140" src="http://res.cloudinary.com/www-swellmd-com/image/upload/c_scale,h_541/v1404331589/blackphone-confirm_kmcobf.png" />
    </div>
</div>
<div style="padding: 50px" class="row clearfix center">
  <div class="col-md-2 column">
  </div>
  <div class="col-md-8 column">
    <h1>Sign up for our waiting list.
    <h4>Currently in private beta. Sign up to be notified when we launch.</h4>
    <p style="padding-top: 25px">
        <%= link_to "Click here to sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
  </div>
  <div class="col-md-2 column">
  </div>
</div>
