<div style= "padding: 50px; background-color:#475155" class="row clearfix center" id="lgrey">
  <div id="lgrey" class="col-md-3 column">
  	<%= link_to "About", about_path %>
  </div>
  <div class="col-md-3 column">
  </div>
  <div class="col-md-3 column">
  </div>
  <div class="col-md-3 column">
  	<h5>Copyright 2014</h5>
  </div>
</div>